@import "tailwindcss";

@theme {
  --color-primary: #004d25;
  --color-primary-dark: #00361a;
  --color-secondary: #F3F4F6;
  --color-accent: #C5A059;
  --color-white: #ffffff;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #ffffff;
  --foreground: #111827; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif;
}
